body{
    margin:0;
    padding:0;
    height:100vh;
}
.container{
    margin: 20px;
}
.row{
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-01{
    background: #ff8c00 ;
    position: relative;
    flex: 1;
    max-width: 500px;
    height: 60px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
}
.card-02{
    background: #ffff00 ;
    position: relative;
    flex: 1;
    max-width: 1024px;
    height: 230px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
}
.card-03{
    background: #87ceeb ;
    position: relative;
    flex: 1;
    max-width: 330px;
    height: 140px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
}
.card-04{
    background: #d3d3d3 ;
    position: relative;
    flex: 1;
    max-width: 243px;
    height: 90px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
}

    @media only screen and (max-width:768px){
        .card-01{
            flex:50%;
            max-width:1024px
        }
        .card-02{
            flex:100%;
            max-width:1024x
        }
        .card-03{
            flex:100%;
            max-width:1024px
        }
        .card-04{
             flex: 50%;
             max-width:1024;
        }
    }

    @media only screen and (max-width:360px){
        .card-01{
            flex:100%;
            max-width:760px
        }
        .card-02{
            flex:100%;
            max-width:760px
        }
        .card-03{
            flex:100%;
            max-width:760px
        }
        .card-04{
            flex:100%;
            max-width:760px
        } 
     }  